.wrapper {
    width: 100%;
    display: flex;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid var(--color-border);
    outline: none;
    padding: .5rem;
    line-height: 1;
    border-radius: .25rem;
}
.input:focus {
    border: 1px solid var(--color-border);
    box-shadow: 0 0 0 .2rem var(--color-primary);
}